<h1>Editing Reaction</h1>

<%= render 'form', reaction: @reaction %>

<br>

<%= link_to 'Cancel', @reaction %>


<div class='back-links'>
<%= link_to 'My Reactions', reactions_path %>
<%= render 'shared/back_links' %>
</div>
