<% deadline = 8 #hours %>
<% if NvdUpdate.last <= deadline.hours.ago %>
  <div class="alert alert-warning" role="alert">
   The vulnerabilities are older than <%=deadline%> hours!
<%= link_to "Update", nvd_update_path, class: 'btn btn-primary', id: 'update', target: '_blank' %> </div>
<% end %>
