<h3>Editing Project</h3>

<%= render 'form', project: @project %>
<br>
<%= link_to 'Cancel', @project, class: 'cancel-link' %> 

<div class='back-links'>
<%= link_to 'Projects', projects_path %>
<%= render 'shared/back_links' %>
</div>
