<h1>All  Vulnerabilities</h1>

<%= render 'shared/vulnerabilities' %>

<%= will_paginate %>

<br>
<br>
<p>
  <%= reaction_legend %>
</p>

<br>
<%= link_to "Show Relevant Vulnerabilities", relevant_vulnerabilities_path, class: 'btn btn-primary'%>

<br>
