%div{class: 'alert alert-notice'}
  %em{style: 'font-weight: bold'}
    Disclaimer
  %em
    Please, make sure you understand, no commercial service or product is offered 
    on this website. This is a technical playground still. No guarantees. You are using it on your own risk. 
    See our 
    =link_to 'Terms of Service.', terms_path
   


