=render 'disclaimer'

%div.container
  %h3
    Legal
   
  %p
    If you are looking for legal contact information, please, 
    have a look at our
    =link_to 'Impressum', impressum_path

  %h3
    Development and support

  %p
    The open-source development happens here:
    =link_to 'github', 'https://github.com/qutorial/vulnswatch'
    You can post bugs there too. 
    
  %h3
    Other issues
  
  %p
    Please, contact Zaur Molotnikov, at zaur_molotnikov (type 'at' sign) genua . de .
    And he is likely to help you out.


