=render 'disclaimer'

%div{ class: 'container', style: 'text-align: justify;' }

  %h2 Datenshutz

  %p
    Die genua gmbh (genua) nimmt den Schutz Ihrer persönlichen Daten sehr ernst. Die nachfolgende Erklärung gibt Ihnen einen Überblick darüber, welche Art von Daten zu welchem Zweck erhoben werden.
    %br
    Verantwortliche Stelle im Sinne des Bundesdatenschutzgesetzes (BDSG) und zugleich Diensteanbieter im Sinne des Telemediengesetzes (TMG) ist die genua gmbh, vgl. Sie dazu unser
  
    = link_to 'Impressum.', impressum_path
 
  %p
    Currently this application is in the testing phase.
    We might use all of your data passed to us by your browser
    for testing and debugging purposes.
  
  %p  
    Because the testing deployment of this app is based on heroku, you shall be
    aware that at least Heroku and Amazon AWS are involved in processing your data.
    
  %p
    By using this app you give us the right to use your data for any purpose
    we find fit.
  
  %p
    We will do our best to inform you on how we use your data in the future.

  %p 
    If you disagree, you might want to delete your account from this app.
    This leads to all your data being deleted from the current version of the
    database of the app. If you want your data completely deleted, you shall
    contact us and tell us about your wish.
  
  %p
    Despite our efforts to keep your data safe, in no way do we guarantee 
    any safety, security, privacy or anonymity.
    
  %p 
    This app uses cookies to process your session. If you use this app 
    you agree to use cookies.
