- content_for :top_content do
  %div.jumbotron
    %div.container
      %h1
        ζάχαρη - Καφές έρχεται αργότερα
      %p
        %em
          Sahare is just the sugar, the coffee will be served later.
      %p
        Register to get started:
        = link_to 'Register', root_path, class: 'btn btn-primary btn-lg'

      
