- content_for :top_content do
  %div.jumbotron
    %div.container
      %h1
        ζάχαρη - no coffee yet..
      %p
        Register to get started:
        = link_to 'Register', root_path, class: 'btn btn-primary btn-lg'

      
