=render 'disclaimer'

%h2
  Impressum

%p
  genua GmbH
  %br
  Domagkstraße 7
  %br
  85551 Kirchheim bei München

%p
  tel +49 89 991950-0
  %br
  fax +49 89 991950-999
  %br
  info@genua.de

%h3
  Geschäftsführer

%p
  Dr. Magnus Harlander 
  %br
  Bernhard Schneck
  %br
  Marc Tesch
  %br

%h3
  Verantwortlicher im Sinne des § 55 Abs. 2 Rundfunkstaatsvertrag
%p
  Dietmar Bruhns
  %br
  tel +49 89 991950-169
  %br
  dietmar_bruhns@genua.de
  
%h3
  Handelsregister

%p
  Amtsgericht München
  %br
  HRB 98238

%h3
  USt-Identifikations-Nummer
%p
  DE 129355873
