=render 'disclaimer'

%h2 
  Terms of service

%p
  This vulnerability tracking software is provided as-is with a MIT License.

%p
  In now way genua or any of the software authors are responsible for 
  any consequenses of you, your company or third parties using this software.

%p
  The data processing conditions and data protection are also a part of 
  these terms, please read on here:
  = link_to 'Datenshutz.', datenschutz_path
