td.affected_system {
  text-align: center;
}

div.update_vulnerabilities_warning {
  color: red;
}

form.search input.short-search {
  width: 100%;
  padding-right: 8em;
}

form input.search-button {
  width: 8em;
  position: absolute;
  top: 0;
  right: 0;
}

form.search {
  position: relative;
}

